.evolta-nav .navbar .navbar-nav {
  margin-right: auto;
  margin-left: 0;
}
.evolta-nav .navbar ul {
  padding-right: 0;
}
.evolta-nav .navbar .navbar-nav .nav-item:first-child a {
  margin-right: 0;
  margin-left: 13px;
}
.evolta-nav .navbar .navbar-nav .nav-item:last-child a {
  margin-left: 0;
  margin-right: 13px;
}
.evolta-nav .navbar .others-options .option-item {
  margin-right: 15px;
  margin-left: 0;
}
.evolta-nav .navbar .others-options {
  margin-right: 20px;
  margin-left: 0;
}
.evolta-nav .navbar .others-options .btn {
  margin-right: 15px;
  margin-left: 0;
}
.navbar-brand {
  margin-right: 0;
}
.evolta-nav .navbar .navbar-nav .nav-item .dropdown-menu {
  right: 0;
  left: auto;
  text-align: right;
}
.evolta-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
  right: 220px;
  left: auto;
}
.search-overlay.search-popup {
  left: 0;
  right: auto;
}
.search-overlay.search-popup .search-form .search-input {
  padding-right: 10px;
  padding-left: 0;
}
.search-overlay.search-popup .search-form .search-button {
  left: 0;
  right: auto;
}
.shape1 {
  right: 0;
  left: auto;
}
.shape2 {
  right: 23%;
  left: auto;
}
.overview-box .content .features-list {
  padding-right: 0;
}
.overview-box .content .features-list li span {
  padding-right: 34px;
  padding-left: 0;
}
.overview-box .content .features-list li span i {
  right: 0;
  left: auto;
}
.single-funfacts {
  padding-right: 150px;
  padding-left: 0;
}
.single-funfacts .circlechart {
  right: 0;
  left: auto;
}
.shape-rectangle {
  left: 0;
  right: auto;
}
.single-feedback-item::before {
  right: -25px;
  left: auto;
}
.single-feedback-item .feedback-desc::before {
  right: 35px;
  left: auto;
}
.single-feedback-item .client-info {
  padding-right: 58px;
  padding-left: 0;
  margin-right: 27px;
  margin-left: 0;
}
.single-feedback-item .client-info img {
  right: 0;
  left: auto;
}
.single-feedback-item {
  margin-right: 25px;
  margin-left: 0;
}
.single-serve-box {
  padding-right: 48px;
  padding-left: 25px;
}
.single-serve-box::before {
  right: 0;
  left: auto;
}
.single-serve-box:hover {
  padding-right: 74px;
  padding-left: 0;
}
.single-serve-box:hover i {
  right: 25px;
  left: auto;
}
.single-serve-box i {
  right: -18px;
  left: auto;
}
.single-pricing-box .pricing-features {
  padding-right: 0;
}
.single-pricing-box .pricing-features li {
  padding-right: 24px;
  padding-left: 0;
}
.single-pricing-box .pricing-features li i {
  right: 0;
  left: auto;
}
.pricing-tab .tabs {
  padding-right: 0;
}
.pricing-tab .tabs li:nth-child(1) a::before {
  border-radius: 0 5px 5px 0;
}
.pricing-tab .tabs li:nth-child(2) a::before {
  border-radius: 5px 0 0 5px;
}
.subscribe-contact-info {
  padding-right: 50px;
  padding-left: 0;
}
.subscribe-contact-info .content {
  margin-right: 50px;
  margin-left: 0;
}
.about-text i {
  right: -10px;
  left: auto;
}
.about-text:hover i {
  right: 0;
  left: auto;
}
.single-team-box .image .social {
  left: -40px;
  right: auto;
}
.single-team-box:hover .image .social {
  left: 20px;
  right: auto;
}
.single-blog-post .entry-post-content .entry-meta ul {
  padding-right: 0;
}
.single-blog-post .entry-post-content .entry-meta ul li {
  margin-left: 12px;
  margin-right: 0;
}
.single-blog-post .entry-post-content .entry-meta ul li:last-child {
  margin-left: 0;
}
.single-blog-post .entry-post-content .entry-meta ul li::before {
  left: -7px;
  right: auto;
}
.free-trial-area::before {
  left: 0;
  right: auto;
  background-position: right top;
}
.free-trial-content {
  padding-right: 30px;
  padding-left: 0;
}
.free-trial-content form button {
  left: 0;
  right: auto;
}
.free-trial-content form .input-newsletter {
  padding-right: 20px;
  padding-left: 0;
}
.single-footer-widget .footer-services-list {
  padding-right: 0;
}
.single-footer-widget .footer-contact-list {
  padding-right: 0;
}
.single-footer-widget .social {
  padding-right: 0;
}
.single-footer-widget h3::before {
  right: 0;
  left: auto;
}
.copyright-area ul {
  padding-right: 0;
  text-align: left;
}
.copyright-area ul li {
  margin-right: 15px;
  margin-left: 0;
}
.copyright-area ul li:first-child {
  margin-right: 0;
}
.copyright-area ul li::before {
  right: -11px;
  left: auto;
}
.go-top {
  left: 15px;
  right: auto;
}
.page-title-content ul {
  padding-right: 0;
  left: 10px;
  right: auto;
}
.page-title-content ul li:first-child {
  margin-right: 0;
  margin-left: 10px;
}
.page-title-content ul li:last-child {
  margin-left: 0;
  margin-right: 10px;
}
.page-title-content ul li::before {
  left: -15px;
  right: auto;
}
.services-details-overview .services-details-desc .services-details-accordion .accordion {
  padding-right: 0;
}
.services-details-overview .services-details-desc .services-details-accordion .accordion .accordion-title {
  padding: 12px 50px 12px 20px;
}
.services-details-overview .services-details-desc .services-details-accordion .accordion .accordion-title i {
  right: 0;
  left: auto;
}
.contact-form form .help-block ul {
  padding-right: 0;
  text-align: right;
}
.contact-info .contact-info-content .social {
  padding-right: 0;
}
.coming-soon-area .coming-soon-content .social ul {
  padding-right: 0;
}
.coming-soon-area .coming-soon-content .social {
  right: 100px;
  left: auto;
}
.coming-soon-area .coming-soon-content .logo {
  right: 100px;
  left: auto;
}
.faq-content .section-title {
  text-align: right;
}
.faq-accordion .accordion .accordion-title {
  padding: 12px 50px 12px 20px;
}
.faq-accordion .accordion .accordion-title i {
  right: 0;
  left: auto;
}
.faq-contact-form form .help-block ul {
  padding-right: 0;
  text-align: right;
}
.contact-form form #msgSubmit {
  text-align: right !important;
}
.faq-contact-form form #msgSubmit {
  text-align: right !important;
}
.woocommerce-topbar .woocommerce-topbar-ordering .nice-select {
  padding: 15px 20px 15px 35px;
  text-align: right !important;
}
.woocommerce-topbar .woocommerce-topbar-ordering .nice-select:after {
  left: 20px;
  right: auto;
}
.woocommerce-topbar .woocommerce-topbar-ordering .nice-select .list .option {
  text-align: right;
}
.single-product-box .product-image .sale-btn {
  right: 20px;
  left: auto;
}
.single-product-box .product-image .add-to-cart-btn {
  text-align: right;
}
.single-product-box .product-image .add-to-cart-btn i {
  left: 20px;
  right: auto;
}
.product-details-desc .product-review .rating {
  padding-left: 5px;
  padding-right: 0;
}
.product-details-desc .product-add-to-cart .input-counter {
  margin-left: 10px;
  margin-right: 0;
}
.product-details-desc .buy-checkbox-btn .cbx span:last-child {
  padding-right: 4px;
  padding-left: 0;
}
.products-details-tab .tabs {
  padding-right: 0;
}
.products-details-tab .tabs li {
  margin-left: 5px;
  margin-right: 0;
}
.products-details-tab .tab_content .tabs_item .products-details-tab-content .additional-information {
  padding-right: 0;
  text-align: right;
}
.products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-title .btn {
  left: 0;
  right: auto;
}
.products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-title p {
  padding-right: 5px;
  padding-left: 0;
}
.products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-comments .review-item {
  padding-left: 200px;
  padding-right: 0;
}
.products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-comments .review-item .review-report-link {
  left: 0;
  right: auto;
}
.cart-table table tbody tr td.product-subtotal .remove {
  float: left;
}
.text-right {
  text-align: left !important;
}
.cart-buttons .shopping-coupon-code button {
  left: 0;
  right: auto;
}
.cart-totals {
  margin-right: auto;
  margin-left: 0;
}
.cart-totals ul li span {
  float: left;
}
.order-details .payment-box .payment-method p [type="radio"]:checked + label, .order-details .payment-box .payment-method p [type="radio"]:not(:checked) + label {
  padding-right: 27px;
  padding-left: 0;
}
.order-details .payment-box .payment-method p [type="radio"]:checked + label::before, .order-details .payment-box .payment-method p [type="radio"]:not(:checked) + label::before {
  right: 0;
  left: auto;
}
.order-details .payment-box .payment-method p [type="radio"]:checked + label::after, .order-details .payment-box .payment-method p [type="radio"]:not(:checked) + label::after {
  right: 3px;
  left: auto;
}
.form-check {
  padding-right: 1.25rem;
  padding-left: 0;
}
.form-check-input {
  margin-right: -1.25rem;
  margin-left: 0;
}
.billing-details .form-group .nice-select .list .option {
  text-align: right;
}
.widget-area .widget_search form button {
  left: 0;
  right: auto;
}
.widget-area .widget .widget-title::before {
  right: 0;
  left: auto;
}
.widget-area .widget_evolta_posts_thumb .item .thumb {
  float: right;
  margin-left: 15px;
  margin-right: 0;
}
.widget-area .widget_recent_comments ul {
  padding-right: 0;
}
.widget-area .widget_recent_comments ul li {
  padding-right: 14px;
  padding-left: 0;
}
.widget-area .widget_recent_comments ul li::before {
  right: 0;
  left: auto;
}
.widget-area .widget_recent_entries ul {
  padding-right: 0;
}
.widget-area .widget_recent_entries ul li {
  padding-right: 14px;
  padding-left: 0;
}
.widget-area .widget_recent_entries ul li::before {
  right: 0;
  left: auto;
}
.widget-area .widget_archive ul {
  padding-right: 0;
}
.widget-area .widget_archive ul li {
  padding-right: 14px;
  padding-left: 0;
}
.widget-area .widget_archive ul li::before {
  right: 0;
  left: auto;
}
.widget-area .widget_categories ul {
  padding-right: 0;
}
.widget-area .widget_categories ul li {
  padding-right: 14px;
  padding-left: 0;
}
.widget-area .widget_categories ul li::before {
  right: 0;
  left: auto;
}
.widget-area .widget_meta ul {
  padding-right: 0;
}
.widget-area .widget_meta ul li {
  padding-right: 14px;
  padding-left: 0;
}
.widget-area .widget_meta ul li::before {
  right: 0;
  left: auto;
}
.blog-details .article-content .entry-meta ul {
  padding-right: 0;
}
.blog-details .article-content .entry-meta ul li {
  margin-left: 21px;
  margin-right: 0;
}
.blog-details .article-content .entry-meta ul li:last-child {
  margin-left: 0;
}
.blog-details .article-content .entry-meta ul li::before {
  left: -15px;
  right: auto;
}
.blog-details .article-content .article-features-list {
  padding-right: 0;
  margin-right: 20px;
  margin-left: 0;
}
.blog-details .article-content .article-features-list li {
  padding-right: 15px;
  padding-left: 0;
}
.blog-details .article-content .article-features-list li::before {
  right: 0;
  left: auto;
}
.blog-details .article-footer .article-tags span {
  margin-left: 5px;
  margin-right: 0;
}
.blog-details .article-footer .article-share .social {
  padding-right: 0;
  text-align: left;
}
.blog-details-desc .article-content .entry-meta ul {
  padding-right: 0;
}
.blog-details-desc .article-content .entry-meta ul li {
  margin-left: 20px;
  margin-right: 0;
}
.blog-details-desc .article-content .entry-meta ul li:last-child {
  margin-left: 0;
}
.blog-details-desc .article-content .entry-meta ul li i {
  margin-left: 3px;
  margin-right: 0;
}
.blog-details-desc .article-content .entry-meta ul li::before {
  left: -15px;
  right: auto;
}
.blog-details-desc .article-content .wp-block-gallery.columns-3 {
  padding-right: 0;
}
.blog-details-desc .article-content .features-list {
  padding-right: 0;
}
.blog-details-desc .article-content .features-list li {
  padding-right: 34px;
  padding-left: 0;
}
.blog-details-desc .article-content .features-list li i {
  right: 0;
  left: auto;
}
.blog-details-desc .article-footer .article-tags span {
  margin-left: 5px;
  margin-right: 0;
}
.blog-details-desc .article-footer .article-share .social {
  padding-right: 0;
  text-align: left;
}
.blog-details-desc .article-footer .article-share .social li span {
  margin-left: 2px;
  margin-right: 0;
}
blockquote::before, .blockquote::before {
  right: 50px;
  left: auto;
}
blockquote::after, .blockquote::after {
  right: 0;
  left: auto;
}
.comments-area .comments-title::before {
  right: -25px;
  left: auto;
}
.comments-area .comment-body {
  padding-right: 65px;
  padding-left: 0;
}
.comments-area .comment-author .avatar {
  right: -65px;
  left: auto;
}
.comments-area .children {
  margin-right: 20px;
  padding-left: 0;
}
.comments-area .comment-respond .comment-reply-title::before {
  right: -25px;
  left: auto;
}
.comments-area .comment-respond .comment-form-cookies-consent {
  padding-right: 20px;
  padding-left: 0;
}
.comments-area .comment-respond .comment-form-cookies-consent input {
  right: 0;
  left: auto;
}
.circle-map {
  left: 18%;
  right: auto;
}
.single-footer-widget .quick-links-list {
  padding-right: 0;
}
.services-details-overview .services-details-desc .features-list li {
  padding-right: 22px;
  padding-left: 0;
}
.services-details-overview .services-details-desc .features-list li i {
  right: 0;
  left: auto;
}
.services-details-overview .services-details-desc .features-list {
  padding-right: 0;
}
.text-end {
    text-align: left !important;
}
.billing-details .form-group .nice-select {
  text-align: right !important; 
  padding-right: 18px;
  padding-left: 30px;
}
.billing-details .form-group .nice-select:after {
  left: 20px;
  right: auto;
}
.form-check .form-check-input {
  float: right;
}
.user-actions i {
  margin-left: 2px;
  margin-right: 0;
}
.blog-details .article-content .wp-block-gallery.columns-3 {
  padding-right: 0;
}

/* Start "Artificial Intelligence Demo RTL CSS, "AI Solution Demo RTL CSS & Computer Vision Demo RTL CSS" */

.top-header-info li {
  margin-left: 25px;
  margin-right: 0;
  padding-right: 22px;
  padding-left: 0;
}
.top-header-info li::before {
  left: -15.5px;
  right: auto;
}
.top-header-info li i {
  right: 0;
  left: auto;
}
.top-header-info li:last-child {
  margin-left: 0;
}
.ai-main-banner .container-fluid {
  padding-right: 35px;
  padding-left: 185px;
}
.ai-banner-content .banner-btn li .video-btn i {
  margin-left: 8px;
  margin-right: 0;
}
.ai-banner-content .banner-btn li {
  margin-left: 20px;
  margin-right: 0;
}
.ai-banner-content .banner-btn li:last-child {
  margin-left: 0;
}
.ai-banner-shape-1 {
  right: 25%;
  left: auto;
  transform: translateX(-25%);
}
.ai-banner-shape-2 {
  left: 10%;
  right: auto;
  transform: translateX(-10%);
}
.ai-banner-shape-3 {
  right: 2%;
  left: auto;
  transform: translateX(-2%);
}
.ai-banner-main-shape {
  left: 0;
  right: auto;
}
.ai-solution-image::before {
  right: -405px;
  left: auto;
  border-radius: 20px 0 0 20px;
}
.ai-solution-image::after {
  left: -10px;
  right: auto;
}
.ai-solution-content {
  padding-right: 45px;
  padding-left: 0;
}
.ai-solution-content .list li {
  padding: 15px 42px 15px 15px;
}
.ai-solution-content .list li i {
  right: 16.5px;
  left: auto;
}
.funfacts-wrap-card {
  padding-right: 150px;
  padding-left: 0;
}
.funfacts-wrap-card .circlechart {
  right: 0;
  left: auto;
}
.ai-services-card::before {
  left: 35px;
  right: auto;
}
.ai-handle-image::before {
  left: -405px;
  right: auto;
  border-radius: 0 20px 20px 0;
}
.ai-handle-image::after {
  right: -10px;
  left: auto;
}
.ai-handle-content {
  padding-left: 45px;
  padding-right: 0;
}
.ai-handle-content .list li {
  padding: 15px 42px 15px 15px;
}
.ai-handle-content .list li i {
  right: 16.5px;
  left: auto;
}
.handle-shape {
  right: 30%;
  left: auto;
  transform: translateX(-30%);
}
.clients-review-item .client-info {
  padding-right: 60px;
  padding-left: 0;
}
.clients-review-item .client-info img {
  right: 0;
  left: auto;
}
.clients-review-item::before {
  left: 35px;
  right: auto;
}
.industries-card .content {
  padding-right: 65px;
  padding-left: 0;
}
.industries-card .content img {
  right: 0;
  left: auto;
}
.ai-blog-card .entry-post-content .entry-meta li {
  margin-left: 15px;
  margin-right: 0;
  padding-right: 15px;
  padding-left: 0;
}
.ai-blog-card .entry-post-content .entry-meta li::before {
  right: 0;
  left: auto;
}
.ai-blog-card .entry-post-content .entry-meta li:last-child {
  margin-left: 0;
}
.ai-subscribe-content .newsletter-form .newsletter-checkbox-btn .cbx span:last-child {
  padding-right: 4px;
  padding-left: 0;
}
.solution-banner-content .banner-btn li .video-btn i {
  margin-left: 8px;
  margin-right: 0;
}
.solution-banner-content .banner-btn li {
  margin-left: 20px;
  margin-right: 0;
}
.solution-banner-content .banner-btn li:last-child {
  margin-left: 0;
}
.solution-banner-shape-1 {
  right: 25%;
  left: auto;
  transform: translateX(-25%);
}
.solution-banner-shape-2 {
  right: 10%;
  left: auto;
  transform: translateX(-10%);
}
.counter-card {
  padding-right: 110px;
  padding-left: 0;
}
.counter-card .icon {
  right: 0;
  left: auto;
}
.ai-handle-content .handle-inner-card .content {
  padding-right: 78px;
  padding-left: 0;
}
.ai-handle-content .handle-inner-card .content .icon {
  right: 0;
  left: auto;
}
.computer-vision-banner-content .banner-btn li {
  margin-left: 20px;
  margin-right: 0;
}
.computer-vision-banner-content .banner-btn li:last-child {
  margin-left: 0;
}
.computer-vision-banner-content .banner-btn li .video-btn i {
  margin-left: 8px;
  margin-right: 0;
}
.computer-vision-shape-1 {
  right: 25%;
  left: auto;
  transform: translateX(-25%);
}
.computer-vision-shape-2 {
  right: 5%;
  left: auto;
  transform: translateX(-5%);
}
.computer-vision-shape-3 {
  right: 40%;
  left: auto;
  transform: translateX(-40%);
}
.team-wrap-shape {
  right: 5%;
  left: auto;
  transform: translateX(-5%);
}
.ai-solution-image {
  padding-left: 50px;
  padding-right: 0;
}
.ai-handle-image {
  padding-right: 50px;
  padding-left: 0;
}

/* End "Artificial Intelligence Demo RTL CSS, "AI Solution Demo RTL CSS & Computer Vision Demo RTL CSS" */


/*
Responsive CSS
============================*/
@media only screen and (max-width: 767px) {
  .mean-container a.meanmenu-reveal {
    left: 0 !important;
    right: auto !important;
  }
  .others-options {
    left: 55px;
    right: auto;
  }
  .mean-container .mean-nav ul li a.mean-expand {
    width: 90%;
    text-align: left;
    left: 0;
    right: auto;
  }
  .mean-container .mean-nav ul li a {
    text-align: right;
  }
  .webinar-content {
    padding-right: 0;
  }
  .partner-item:nth-child(6) {
    margin-right: 0;
  }
  .free-trial-content {
    padding-right: 10px;
    padding-left: 10px;
  }
  .copyright-area ul {
    text-align: center;
  }
  .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-comments .review-item {
    padding-left: 0;
  }
  .comments-area .comment-body {
    padding-right: 0;
  } 
  .comments-area .comment-author .avatar {
    right: 0px;
  }
  .coming-soon-area .coming-soon-content .logo {
    right: 0;
  }
  .coming-soon-area .coming-soon-content .social {
    right: 0;
  }
  .single-funfacts {
    padding-right: 55px;
  }
  .single-feedback-item {
    margin-right: 0;
  }
  .subscribe-contact-info {
    padding-right: 0;
  }
  .subscribe-contact-info .content {
    margin-right: 0;
  }
  .blog-details .article-footer .article-share .social {
    text-align: center;
  }
  .page-title-content {
    text-align: right;
  }
  .comments-area .children {
      margin-right: 0;
  }

  /* Start "Artificial Intelligence Demo RTL CSS, "AI Solution Demo RTL CSS & Computer Vision Demo RTL CSS" */

  .top-header-info li {
    margin-left: 5px;
    padding-right: 20px;
  }
  .ai-main-banner .container-fluid {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
  }
  .ai-solution-image::before {
    right: 0;
    left: auto;
    border-radius: 0;
  }
  .ai-solution-content {
    padding-right: 0;
  }
  .funfacts-wrap-card {
    padding-right: 95px;
  }
  .ai-handle-content {
    padding-left: 0;
  }
  .ai-handle-image::before {
    left: 0;
    right: auto;
    border-radius: 0;
  }
  .counter-card {
    padding-right: 0;
  }

  /* End "Artificial Intelligence Demo RTL CSS, "AI Solution Demo RTL CSS & Computer Vision Demo RTL CSS" */
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .copyright-area {
    text-align: right;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mean-container a.meanmenu-reveal {
    left: 0 !important;
    right: auto !important;
  }
  .others-options {
    left: 55px;
    right: auto;
  }
  .mean-container .mean-nav ul li a.mean-expand {
    width: 90%;
    text-align: left;
    left: 0;
    right: auto;
  }
  .mean-container .mean-nav ul li a {
    text-align: right;
  }
  .coming-soon-area .coming-soon-content .logo {
    right: 100px;
  }
  .coming-soon-area .coming-soon-content .social {
    right: 100px;
  }
  .single-funfacts {
    padding-right: 0;
  }
  .page-title-content {
    text-align: right;
  }

  /* Start "Artificial Intelligence Demo RTL CSS, "AI Solution Demo RTL CSS & Computer Vision Demo RTL CSS" */

  .ai-main-banner .container-fluid {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
  }
  .ai-solution-image::before {
    right: 0;
    left: auto;
    border-radius: 0;
  }
  .ai-solution-content {
    padding-right: 0;
  }
  .funfacts-wrap-card {
    padding-right: 95px;
  }
  .ai-handle-content {
    padding-left: 0;
  }
  .ai-handle-image::before {
    left: 0;
    right: auto;
    border-radius: 0;
  }
  /* End "Artificial Intelligence Demo RTL CSS, "AI Solution Demo RTL CSS & Computer Vision Demo RTL CSS" */
}
  
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single-funfacts {
    padding-right: 105px;
  }

  /* Start "Artificial Intelligence Demo RTL CSS, "AI Solution Demo RTL CSS & Computer Vision Demo RTL CSS" */

  .ai-solution-content {
    padding-right: 15px;
  }
  .ai-solution-image::after {
    left: 0;
  }
  .funfacts-wrap-card {
    padding-right: 95px;
  }
  .ai-handle-content {
    padding-left: 0;
  }
  .ai-handle-image::after {
    right: 0;
  }
  .counter-card {
    padding-right: 80px;
  }

  /* End "Artificial Intelligence Demo RTL CSS, "AI Solution Demo RTL CSS & Computer Vision Demo RTL CSS" */
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {

  /* Start "Artificial Intelligence Demo RTL CSS, "AI Solution Demo RTL CSS & Computer Vision Demo RTL CSS" */
  .ai-solution-content {
    padding-right: 15px;
  }
  .ai-solution-image::after {
    left: 0;
  }
  .ai-handle-content {
    padding-left: 0;
  }
  .ai-handle-image::after {
    right: 0;
  }
  .counter-card {
    padding-right: 88px;
  }
  /* End "Artificial Intelligence Demo RTL CSS, "AI Solution Demo RTL CSS & Computer Vision Demo RTL CSS" */

}

@media only screen and (min-width: 1550px) {
  .ai-main-banner .container-fluid {
    padding-right: 100px;
    padding-left: 245px;
  }
  .solution-banner-area .container-fluid {
    padding-right: 180px;
    padding-left: 150px;
  }
  .computer-vision-banner-area .container-fluid {
    padding-right: 180px;
    padding-left: 150px;
  }
}